/*
 * General Styles
 */


html {
    font-family: var(--font-style);
    box-sizing: border-box;
    background: var(--bg-color);
    color:      var(--secondary-color)
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


header,
main,
footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}



main {
    height: 50vh;
}


select {
    margin: 25px 20px;
    padding: 10px;
    background-color: #eee;
    border: 0px;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(255,255,255,.3));
    box-shadow: 1px 1px 1px rgba(0,0,0,.2) inset;
  }


/*
 * Note Styles
 */

.notes {
    display: flex;
    flex-wrap: wrap;
}

 .single-note {
    background: var(--card-color);
    color: var(--secondary-text-color);
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
    padding: 2%;
    margin: 0% 5% 5% 0%;
    border-radius: 2px;
    width: 23%;
    min-width: 250px;  
  }


/*
* Modal Style
*/


.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

form {
    color: var(--secondary-text-color)
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80vw;
    height: 70vh;
}


.invisible {
    display: none;
}


