/*
 * General Styles
 */


html {
    font-family: var(--font-style);
    box-sizing: border-box;
    background: var(--bg-color);
    color:      var(--secondary-color);
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


header,
main,
footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}

footer {
    align-items: flex-end; /* doesn't work? */
    align-self: flex-end;
}


main {
    height: 50vh;
}


select {
    margin: 25px 20px;
    padding: 10px;
    background-color: #eee;
    border: 0px;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(255,255,255,.3));
    box-shadow: 1px 1px 1px rgba(0,0,0,.2) inset;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .lined {
    display: flex;
    justify-content: flex-start;
  }

  .bar {
      padding-top: 10vh;
  }

  .btn {
    padding: 20px;
    border: none;
    border-radius: 10%;
  }

  .cta {
    background: var(--bg-color);
    color: var(--secondary-color);  
    box-shadow: 0px 4px 20px 5px rgba(0,0,0,0.1);
  }

  .non-cta {
    background-color: #eee;
    color: var(--secondary-text-color);
  }

/*
 * Note Styles
 */

.notes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
}

 .single-note {
    background: var(--card-color);
    color: var(--secondary-text-color);
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
    padding: 2%;
    margin: 0% 3% 3% 0%;
    border-radius: 2px;
    width: 21%;
    min-width: 250px;  
  }


  /* for this single note */

  .label__checkbox {
    display: none;
   }
   
   .label__check {
       display: inline-block;
       border-radius: 50%;
       border: 2px solid rgba(0, 0, 0, 0.1);
       background: white;
       vertical-align: middle;
       margin-right: 20px;
       width: 2em;
       height: 2em;
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: center;
       transition: border .3s ease;
       padding: 20px;
       color: #F78CA0;
   }
   
   .label__check i.icon {
       opacity: 0.2;
       font-size: calc(1rem + 1vw);
       color: transparent;
       transition: opacity .3s .1s ease;
       -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
   }
   
   .label__check:hover {
       border: 5px solid rgba(0, 0, 0, 0.2);
   }
   
   .label__checkbox:checked + .label__text .label__check {
       animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1 forwards;
       color: white;
   }
   
   .label__checkbox:checked + .label__text .label__check .icon {
       opacity: 1;
       transform: scale(0);
       color: white;
       -webkit-text-stroke: 0;
       animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
   }
   
   
/*    .single-note label {
     position: relative;
     right: 20%;
   } */
   
   @keyframes icon {
     from {
       opacity: 0;
       transform: scale(0.3);
     }
     to {
       opacity: 1;
       transform: scale(1)
     }
   }
   
   @keyframes check {
     0% {
       width: 1.5em;
       height: 1.5em;
       border-width: 2px;
     }
     10% {
       width: 1.5em;
       height: 1.5em;
       opacity: 0.1;
       background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
       border-width: 10px;
     }
     12% {
       width: 1.5em;
       height: 1.5em;
       opacity: 0.4;
        background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
       border-width: 0;
     }
     50% {
       width: 2em;
       height: 2em;
        background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
       border: 0;
       opacity: 0.6;
     }
     100% {
       width: 2em;
       height: 2em;
       background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
       border: 0;
       opacity: 1;
     }
   }

/*
* Modal Style
*/


.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

form {
    color: var(--secondary-text-color)
}

input[type="text"] {
    height: 5vh;
    width: 50vw;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5vw;
    border: 1px solid #888;
    width: 80vw;
    height: 70vh;
}


.invisible {
    display: none;
}




